<div class="signup_form">
<form class="login" action="?p=signup" method="post">
    <label for="nick">NICKNAME:</label>
        <input type="text" name="nick" value="">
    <label for="email">EMAIL:</label>
        <input type="text" name="email" value="">
    <label for="password">PASSWORD:</label>
        <input type="password" name="password" value="">
    <label for="repassword">REPEAT PASSWORD:</label>
        <input type="password" name="repassword" value="">

    <span class="check_box_span">
        <input class="checkbox" type="checkbox" name="policy_check" value="">
        <label class="checkbox" for="policy_check">ACCEPT POLICY</label>
    </span>

    <input class="send" type="submit" name="submit">
    <!-- MSG -->
</form>
</div>
