<div class="perfil">
    <div class="resumen_perfil">
        <div class="datos">
            <img class="profile_image" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="">
            <div class="resumen_datos">
                <ul>
                    <li>NICKNAME: ##NICKNAME##</li>
                    <li>EMAIL: ##EMAIL##</li>
                    <li>CURRENT POINTS: ##CP##</li>
                    <li>COLLECTED REWARDS: ##CR##</li>
                </ul>
            </div>
        </div>
        <div class="resumen_puntos">
            <ul>
            <!-- RESUMEN-PUNTOS -->
                <li>
                    ##NAME##
                </li>
            <!-- RESUMEN-PUNTOS -->
            </ul>
        </div>
    </div>

    <div class="objetivos">
        <ul>
        <!-- OBJETIVOS -->
            <li>
                <span>
                    ##NAME##
                </span>
                <span>
                    <input type="checkbox" name="" value="">
                </span>
            </li>
        <!-- OBJETIVOS -->
        </ul>
    </div>
</div>
