.login_form {
    display: flex;
    justify-content: center;
}

.login_form * {
    display: block;
    padding: 10px;
    margin: 5px;
}

.login_form label {
    align: center;
    text-align: center;
}

.login_form input {
    margin-left: auto;
    margin-right: auto;
}

.send {
    margin-top: 10px;
    padding: 5px;
}
