<span class="header">
    <span class="logo"><a href="?p=main">**INTRODUCIR LOGO**</a></span>
    <span class="rewards"><a href="?p=rewards">Recompensas</a></span>
    <span class="tasks"><a href="?p=tasks">Tareas</a></span>
    <span class="profile">
        Perfil
        <div class="profile_menu">
            <p><a href="?p=profile">Ver mi perfil</a></p>
            <p><a href="?p=login">Iniciar sesion</a></p>
            <p><a href="?p=signup">Registrase</a></p>
            <p><a href="?p=logout">Cerrar sesion</a></p>
        </div>
    </span>
</span>
