<span class="header">
    ##LOGO_INPUT##<span class="logo"><a href="?p=main">**INTRODUCIR LOGO**</a></span>##LOGO_INPUT##
    ##REWARDS_INPUT##<span class="rewards"><a href="?p=rewards">Recompensas</a></span>##REWARDS_INPUT##
    ##TASKS_INPUT##<span class="tasks"><a href="?p=tasks">Tareas</a></span>##TASKS_INPUT##
    ##PROFILE_INPUT##<span class="profile">
        Perfil
        <div class="profile_menu">
            ##PROFILE_VIEW_INPUT##<p><a href="?p=profile">Ver mi perfil</a></p>##PROFILE_VIEW_INPUT##
            ##PROFILE_SIGNIN_INPUT##<p><a href="?p=login">Iniciar sesion</a></p>##PROFILE_SIGNIN_INPUT##
            ##PROFILE_SIGNUP_INPUT##<p><a href="?p=signup">Registrase</a></p>##PROFILE_SIGNUP_INPUT##
            ##PROFILE_LOGOUT_INPUT##<p><a href="?p=logout">Cerrar sesion</a></p>##PROFILE_LOGOUT_INPUT##
        </div>
    </span>##PROFILE_INPUT##
</span>
