@import "font_faces.css";

* {
    font-family: 'Amiri';
}

.header {
    display: block;
    width:100%;
    text-align: center;
}

.header span {
    display: inline-block;
    width: calc(90%/4);
    text-align: center;
    font-size: 1.5em;
}

.header span a {
    text-decoration: none;
    color: black;
}

/* Profile Menu Dropdown */
.profile {
    display: inline-block;
    position: relative;
}

.profile_menu {
    display: none;
    position: absolute;
    align-content: center;
    left: 35%;
}

.profile:hover .profile_menu {
    display: block;
}
